body {
  font-family:$font-family-serif;
	@include remcalc(18);
	line-height:1.8;
	font-weight:500;
}
header {
	padding: 30px 0;
	text-align: left;
	a {
		@include remcalc(60);
	}
}

.component-about-us {
	padding: 30px 0;
	@include remcalc(20);
}

.component-post-summary {

}

.component-post-meta {
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		margin-right: 10px;
	}
}

.component-post-title {
	margin: 0 0 15px 0;
	a {
		color: black;

	}
}

.component-intro {
	padding: 30px 0;
	@include remcalc(20);
}

footer {
	text-align: center;
	padding: 30px 0;
	@include remcalc(20);
}

p, footer {
	a {
		border-bottom:1px solid;
		display:inline-block;
		&:hover {
			text-decoration:none;
		}
	}
}
