---
layout: default
---

<section class="component-post-summary">
	{% for post in site.posts limit:1 %}
	<ul>
		<li>{{ post.author }}</li>
		<li>{{ post.date }}</li>
	</ul>
	<h1>{{ post.title }}</h1>
    <div class="entry">
    	{{ post.excerpt }}
    </div>
    {% endfor %}
</section>

<!-- needs an offset of 1 for the first post? -->
<section class="component-post-archive">
  {% for post in site.posts offset: 1 limit: 8 %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }}
      </div>

    </article>
  {% endfor %}
</section>

<section class="component-about-us">
	We're a blog.
</section>