---
layout: default
title: Home
---

<section class="component-post-summary">
	{% for post in site.posts limit:1 %}
	<ul class="component-post-meta">
		<li>{{ post.author }}</li>
		<li>{{ post.date | date:"%B %-d, %Y" }}</li>
	</ul>
	<h1 class="component-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="component-intro">
			{{ post.summary | markdownify }}
    </div>
    <div class="component-read-more">
      <a href="{{ post.url }}">Read Full Article</a>
    </div>
  {% endfor %}
</section>

<section class="component-post-archive cl-xs-12">
  <div class="row">
    {% for post in site.posts offset: 1 limit: 8 %}
      <article class="post col-xs-12 col-sm-6">

        <ul class="component-post-meta">
          <li>{{ post.author }}</li>
          <li>{{ post.date | date:"%B %-d, %Y" }}</li>
        </ul>

        <h2 class="component-post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class="entry">
          {{ post.summary | markdownify }}
        </div>

        <div class="component-read-more">
          <a href="{{ post.permalink }}">Read Full Article</a>
        </div>

      </article>
    {% endfor %}
  </div>
</section>

<hr>

<section class="component-about-us col-xs-12">
  <div class="row">
    <p>Finding the Forest is a blog focused on the web industry. Its founders are lifelong learners, passionate, curious, never satisfied makers. We hope to learn from others as much as we teach them. We hope to open up this blog to other voices and viewpoints.</p>
    <p>If you feel similarly, <a href="mailto:us@findingtheforest.com">consider writing for us</a>.</p>
  </div>
</section>

<hr>
